<div class="aboutComponent">
  
  <div class="banner">
    <img src="../../../assets/banner.png" alt="">
  </div>

  <div class="aboutCardContainer row col-lg-12">
    
    <div class="loginContainer col-lg-6 col-md-12"> 
       <div class="loginWrapper row">
        <div class="col-lg-7 loginContent">
          <div class="loginHeader">Login to play World Cup Fantasy League</div>
          <div class="loginText"> With 32 teams and over 700 players to choose from, it's tailor made for the World Cup and you can win great prizes.</div>
        </div>
        <div class="col-lg-5 loginButtonWrapper">
          <button class="btn btn-primary loginButton">Login</button>
        </div>
       </div>
    </div>

    <div class="pickSquadContainer col-lg-6 col-md-12"> 
      <div class="pickSquadWrapper row">
          <div class="col-lg-6 pickSquadImage"><img class="img-fluid" src="../../../assets/picksquad.png" alt=""></div>
          <div class="col-lg-5 pickSquadContent">
            <div class="pickSquadHeader">Pick your squad</div>
            <div class="pickSquadText">Use your budget of $100m to pick a squad of 15 players from the world cup.</div>
          </div>
      </div>
    </div>
  
  </div>

</div>