<h1>Structure and Schedule :</h1>

The game is divided into 5 stages 

<div class = "stageOne">
<div class="timeLine">Group Stage 14/6/18 - 26/6/18 </div>
<div class="limit"> Max 3 players from a single team </div>
<div class="content">Here there would be 3 rounds corresponding to 3 matchdays with the, <br> first round starting from 14/6/18 - 19/6/18.
<br>The second round from 19/6/18 - 24/6/18.
<br>The third round from 25/6/18 - 26/6/18.</div>
</div>

<div class="stageTwo">
<div class="timeLine">Knockout Stage - Round of 16 -  30/6/18 - 3/7/18 </div>
<div class="limit"> Max 4 players from a single team </div>
<div class="content"> Here there would be a single round corresponding to round of 16 fixtures.</div>
</div>

<div class="stageThree">
<div class="timeLine">Quarter Final Stage - 6/7/18 - 7/7/18</div>
 <div class="limit">Max 5 players from a single team </div> 
<div class="content"> Here there would be a single round corresponding to quarter final fixtures.</div>
</div>

<div class="stageFour">
<div class="timeLine"> Semi Final Stage - 10/7/18 - 11/7/18</div>
<div class="limit"> Max 6 players from a single team </div>
<div class="content">Here there would be a single round corresponding to the semi final fixtures.</div>
</div>

<div class="stageFive">
<div class="timeLine">Final Stage - 15/7/18</div>
<div class="limit"> Max 8 players from a single team </div> 
<div class="content">Here there would be a single round corresponding to the final fixture.</div>
</div>

<div class = "rulesHeader">
    <div class = "rulesPositive">
        <div class= "rulesSubHeadText">Gain Rule</div>
        
        <div class="gainRule"> Playing in a match (or part of a match e.g. at least 60 minutes)</div>
        <div class="gainRule">Scoring a goal</div>
        <div class="gainRule">Making an assist (the pass or touch leading to the goal)</div>
        <div class="gainRule">Keeping a clean sheet (goalkeepers, and defenders only)</div>
        <div class="gainRule">Saving a penalty</div>
        <div class="gainRule">Goalkeeper saves 3 shots or more</div>
        <div class="gainRule">Win of the team</div>
    </div>
    <div class="rulesNegative">
        <div class="rulesSubHeadText">Loss Rule</div>

        <div class="gainRule">Conceding a goal (goalkeepers and defenders only)</div>
        <div class="gainRule">Receiving a yellow or red card</div>
        <div class="gainRule">Missing a penalty kick</div>
        <div class="gainRule">Scoring an own goal</div>
        <div class="gainRule">Getting substituted</div>        
        <div class="gainRule">Loss of the team</div>
    </div>
</div>

<h1> Player Categories </h1>

Captain - Will be awarded 3x points.
Vice Captain - Will be awarded 2x points.
Starting players - Will be awarded 1x points.
Substitutes - Will be awarded 0.5x points rounded by the floor function.

<div class="tailNote">
Squads will be reset after each stage.

Decisions taken on performance bonus of players will be transparent and based on leading 
online rating schemes.
</div>