.customBanner {
    width: 100%;
}

.stageOne {
    display: flex;
    flex-direction: column;
    background-color: #5e21ed;
    padding-bottom: 1em;
    padding-top: 1em;
}



.stageThree {
    display: flex;
    flex-direction: column;
    background-color: #ed5e21;
    padding-bottom: 1em;
    padding-top: 1em;
}

.stageTwo {
    display: flex;
    flex-direction: column;
    background-color: #a1ddf7;
    padding-bottom: 1em;
    padding-top: 1em;
}

.stageFour {
    display: flex;
    flex-direction: column;
    background-color: #b0ed21;
    padding-bottom: 1em;
    padding-top: 1em;
}

@media screen and (min-width: 641px) {
    .stageTwo {
        align-items: flex-end;
    }   

    .stageFour {
        align-items: flex-end;
    }
}

.stageFive {
    display: flex;
    flex-direction: column;
    background-color: #ed215e; 
    padding-bottom: 1em;
    padding-top: 1em;
}

.timeLine {
    font-weight: 600;
    color: #fff;
    font-size: 1.5em;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1%;
    letter-spacing: 1px;
}

.limit {
    margin-top: 0.5%;
    margin-left: 2%;
    margin-right: 2%;
    font-size: .9em;
    color: #fff;
    font-weight: 700;

}
.content {
    padding-bottom: 3%;
    margin-left: 2%;
    margin-right: 2%;
    font-size: .9em;
    color: #fff;
    font-weight: 500;


}

.rulesSubHeadText {
    margin-bottom: 1em;
    margin-top: 3%;
    font-size: 1.5em;
    color: #fff;
    margin-left: 2%;
    margin-right: 60%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.rulesPositive {
    background: #685a35;
    width:50%;
    padding-bottom: 3%;
}

.rulesNegative {
    background: #683352 ;
    width: 50%;
    padding-bottom: 2em;
}

.gainRule {
    text-align: left;
    color: #fff;
    margin-left: 10%;
    margin-right: 5%;
    font-weight: 500;
    font-size: 0.9rem;
}
.playerCategory {
    padding-top: 2em;
    background: #4b3568;
    padding-bottom: 2em;
}
.playerRoles{
    letter-spacing: 1px;
    margin-left: 3%;
    margin-top: 1%;
    margin-bottom: 1%;
    color: #fff;
    font-weight: 400;
    font-size: 2em;
}
.roles{
    text-align: left;
    margin-left: 6%;
    font-size: .9em;
    color: #fff;
}

.subrole {
    padding-bottom: 3%;
}

.toprole {
    margin-top: 1%;
}

.tailNote {
    
    padding-bottom: 2%;
    font-size: 0.8em;
    margin-left: 3%;
}

.routeHeader {
    margin-top: 3%;
    margin-bottom: 2%;
    text-align: center;
    font-weight: bold;
}

.squadFixed {
    font-size: 0.9em;
    margin-left: 3%;
    font-weight: bold;
    margin-top: 2%;
}

#darkTimeline {
    color: black;
}

#darkLimit {
    color: black;
}

#darkContent {
    color: black;
}

@media screen and (max-width: 40em) {
    .stageOne {
        text-align: center;
    }

    #evenStage {
        text-align: center;
    }

    .stageThree {
        text-align: center;
    }

    .stageFive {
        text-align: center;
    }
}

.pointsIcon {
    height: 100px;
    min-width: 100px;
}

.pointsIconMain {
    height: 20%;
    width: 20%;
    max-width: 200px;
    max-height: 150px;
}

.lossGain {
    margin-left: 10%;
    letter-spacing: 2px;
    font-size: 1.5em;
    margin-top: 1em;
}

table {
    width: 100%;
    table-layout: fixed;
    display: table;
    border-collapse: collapse;
    border: none;
}

tbody {
    width: 100%;
    padding: 0;
    margin-top: 1em;
}

tr {
    padding: 0;
}

th {
    text-align: center;
    font-size: 1.5em;
    letter-spacing: 3px;
    color: #fff;
    font-weight: 500;
}

td {
    text-align: center;
    width: 50%;
    border: none;
    font-size: 0.9em;
    color: #fff;
}

@media screen and (max-width: 600px) {
    th {
        font-size: 1.2em;
        letter-spacing: 1px;
    }
}
