<div class = "teamlogo">
  <div class="container-fluid teamlogo-head">
    <a href="https://en.wikipedia.org/wiki/Argentina_national_football_team"><img src="assets/teams/ARG.png" alt=""></a>
    <a href="https://en.wikipedia.org/wiki/Australia_national_soccer_team"><img src="assets/teams/AUS.png" alt=""></a>
    <a href="https://en.wikipedia.org/wiki/Belgium_national_football_team"><img src="assets/teams/BEL.png" alt=""></a>
    <a href="https://en.wikipedia.org/wiki/Brazil_national_football_team"><img src="assets/teams/BRA.png" alt=""></a>
    <a href="https://en.wikipedia.org/wiki/Colombia_national_football_team"><img src="assets/teams/COL.png" alt=""></a>
    <a href="https://en.wikipedia.org/wiki/Costa_Rica_national_football_team"><img src="assets/teams/CRC.png" alt=""></a>
    <a href="https://en.wikipedia.org/wiki/Croatia_national_football_team"><img src="assets/teams/CRO.png" alt=""></a>
    <a href="https://en.wikipedia.org/wiki/Denmark_national_football_team"><img src="assets/teams/DEN.png" alt=""></a>
    <a href="https://en.wikipedia.org/wiki/Egypt_national_football_team"><img src="assets/teams/EGY.png" alt=""></a>
    <a href="https://en.wikipedia.org/wiki/England_national_football_team"><img src="assets/teams/ENG.png" alt=""></a>
    <a href="https://en.wikipedia.org/wiki/Espain_national_football_team"><img src="assets/teams/ESP.png" alt=""></a>
    <a href="https://en.wikipedia.org/wiki/France_national_football_team"><img src="assets/teams/FRA.png" alt=""></a>
    <a href="https://en.wikipedia.org/wiki/Germany_national_football_team"><img src="assets/teams/GER.png" alt=""></a>
    <a href="https://en.wikipedia.org/wiki/Iran_national_football_team"><img src="assets/teams/IRN.png" alt=""></a>
    <a href="https://en.wikipedia.org/wiki/Iceland_national_football_team"><img src="assets/teams/ISL.png" alt=""></a>
    <a href="https://en.wikipedia.org/wiki/Japan_national_football_team"><img src="assets/teams/JPN.png" alt=""></a>  
  </div>
  <div class = "container-fluid teamlogo-foot">
    <a href="https://en.wikipedia.org/wiki/South_Korea_national_football_team"><img src="assets/teams/KOR.png" alt=""></a>
    <a href="https://en.wikipedia.org/wiki/Saudi_Arabia_national_football_team"><img src="assets/teams/KSA.png" alt=""></a>
    <a href="https://en.wikipedia.org/wiki/Morocco_national_football_team"><img src="assets/teams/MAR.png" alt=""></a>
    <a href="https://en.wikipedia.org/wiki/Mexico_national_football_team"><img src="assets/teams/MEX.png" alt=""></a>
    <a href="https://en.wikipedia.org/wiki/Nigeria_national_football_team"><img src="assets/teams/NGA.png" alt=""></a>
    <a href="https://en.wikipedia.org/wiki/Panama_national_football_team"><img src="assets/teams/PAN.png" alt=""></a>
    <a href="https://en.wikipedia.org/wiki/Peru_national_football_team"><img src="assets/teams/PER.png" alt=""></a>
    <a href="https://en.wikipedia.org/wiki/Poland_national_football_team"><img src="assets/teams/POL.png" alt=""></a>
    <a href="https://en.wikipedia.org/wiki/Portugal_national_football_team"><img src="assets/teams/POR.png" alt=""></a>
    <a href="https://en.wikipedia.org/wiki/Russia_national_football_team"><img src="assets/teams/RUS.png" alt=""></a>
    <a href="https://en.wikipedia.org/wiki/Senegal_national_football_team"><img src="assets/teams/SEN.png" alt=""></a>
    <a href="https://en.wikipedia.org/wiki/Serbia_national_football_team"><img src="assets/teams/SRB.png" alt=""></a>
    <a href="https://en.wikipedia.org/wiki/Switzerland_national_football_team"><img src="assets/teams/SUI.png" alt=""></a>
    <a href="https://en.wikipedia.org/wiki/Sweden_national_football_team"><img src="assets/teams/SWE.png" alt=""></a>
    <a href="https://en.wikipedia.org/wiki/Tunisia_national_football_team"><img src="assets/teams/TUN.png" alt=""></a>
    <a href="https://en.wikipedia.org/wiki/Uruguay_national_football_team"><img src="assets/teams/URU.png" alt=""></a>
  </div>
</div>

<nav class="navbar navbar-dark navbar-expand-lg">
  <a class="navbar-brand" href="#">
    <img src="assets/logo.png" alt="">
  </a>
  <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarContent" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse navbar-default collapse" id="navbarContent" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
        <li><a class="nav-link" href="http://localhost:4200/profile" (click)="toggleState()">Profile</a></li>
        <li><a class="nav-link" href="http://localhost:4200/players" (click)="toggleState()">Players</a></li>
        <li><a class="nav-link" href="http://localhost:4200/selection" (click)="toggleState()">Squad</a></li>
        <li><a class="nav-link" href="http://localhost:4200/fixtures" (click)="toggleState()">Fixtures</a></li>
        <li><a class="nav-link" href="http://localhost:4200/leaderboard" (click)="toggleState()">Leaderboard</a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
