.profileWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2em;
    background: #de264a;
    padding-bottom: 2em;
    height: 50%;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

.profilePic {
    margin-top: 2em;
    height: 250px;
    width: auto;
    border-radius: 50%;
}

.username {
    text-align: center;
    margin-top: 2em;
    font-weight: bold;
    color: #ffffcd;
}

.userpoints {
    text-align: center;
    font-weight: bold;
    color: #ffffcd;
}

