.customBanner {
    width: 100%;
}

.profileWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.profileContent {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 300px;
}

.profilePic {
    margin-top: 3em;
    height: auto;
    width: 300px;    
}

.username {
    text-align: center;
    font-size: 2em;
    font-weight: 500;
    color: black;
    background: #363c68;
    width: 100%;
    color: #fff;
    letter-spacing: 1px;
}

.userpoints {
    text-align: center;
    font-weight: 400;
    color: #fff;
    font-size: 1.6em;
    background: #334;
    width: 100%;
    color: #fff;
    letter-spacing: 2px;
}

.profileContainer {
    padding-top: 7%;
    height: 100%;
    background: url(../../../assets/profileBackground.png) no-repeat;
    background-size: cover;
    padding-bottom: 9%;
}

.scoreIcon {
    max-width: 110px;
}

@media screen and (max-width: 768px) {
    .profileContainer {
	padding-bottom: 30%;
    }
}
