.customBanner {
    width: 100%;
}


.propic {
      width: 45px;
      height: 45px;
      border-radius: 100%;
      margin-right: 1em;
      z-index: 1;
}

.points {
    margin-left: 2em;
}

table {
    width: 100%;
    table-layout: fixed;
    display: table;
    border-collapse: collapse;
    border: none;
}

tbody {
    width: 100%;
    padding: 0;
}

tr {
    padding: 0;
}

th {
    text-align: center;
    font-size: 1.5em;
    letter-spacing: 3px;
    color: #fff;
    font-weight: 500;
}

td {
    text-align: center;
    width: 50%;
    border: none;
    font-size: 0.9em;
    color: #fff;
}
