<img src="../../../assets/custombanner.png" alt="">
<div class="container-fluid">
  <table class="table table-responsive">
    <colgroup>
      <col span="1" style="width: 20%;">
      <col span="1" style="width: 60%;">
      <col span="1" style="width: 20%;">
    </colgroup>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Points</th>
    </tr>
    <tbody *ngIf="ranklist">
      <tr *ngFor="let record of ranklist; let i=index">
        <td>
          {{ record.rank }}
        </td>
        <td>
          <img src="{{ record.pic }}" alt="" class="propic">
          {{ record.name }}
        </td>
        <td>
          <div class="points">{{ record.score }}</div>
        </td>
      </tr>
    </tbody>
  </table>
</div>