.parent {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background: purple;
  }

.image1 {
    position: relative;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

}

.gkContainer {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.gkContainer p {
    text-align: justify;
    font-size: 80%;
    width: 100%;
}

.gkContainer img {
    width: 55px;
    height: 100%;
}

.namePlate {
    font-size: 1%;
}
.gkBox {
    position: absolute;
    width: 22%;
    height: 15%;
    top: 6%;
    left: 39%;
    display: flex;
    justify-content: space-between;
}

/*
.gkBox img {
    max-width: 32%;
}

.defBox {
        position: absolute;
        width: 70%;
        height: 10%;
        top: 25%;
        left: 15%;
        display: flex;
        justify-content: space-between;
    
}

.defBox img {
    max-width: 15%;
}

.midBox {
    position: absolute;
    width: 65%;
    height: 10%;
    top: 49%;
    left: 17.5%;
    display: flex;
    justify-content: space-between;
}

.midBox img {
    max-width: 17%;
}

  .image2 {
    position: absolute;
    top: 21%;
    left: 42%;
    width: 5%;
    height: auto;
  }

  .image3 {
    position: absolute;
    top: 21%;
    left: 50%;
    width: 5%;
    height: auto;
  } */