<!--
<div class="parent">
  <img src="../../../assets/pitch2.png" class="image1" alt="">
  <div class = "gkBox">
      <img src="../../../assets/tshirt.png" alt="">
    <img src="../../../assets/tshirt.png" alt="">
  </div>
  <div class = "defBox">
      <img src="../../../assets/tshirt.png" alt="">
      <img src="../../../assets/tshirt.png" alt="">
      <img src="../../../assets/tshirt.png" alt="">
      <img src="../../../assets/tshirt.png" alt="">
      <img src="../../../assets/tshirt.png" alt="">
  </div>
  <div class = "midBox">
      <img src="../../../assets/tshirt.png" alt="">
      <img src="../../../assets/tshirt.png" alt="">
      <img src="../../../assets/tshirt.png" alt="">
      <img src="../../../assets/tshirt.png" alt="">
      <img src="../../../assets/tshirt.png" alt="">
  </div>
</div>
-->

<div class="parent">
  <img src="../../../assets/pitch2.png" class="image1" alt="">
  <div class = "gkBox">
      <div class="gkContainer">
        <img src="../../../assets/tshirt.png" alt="">
        <p> Add goalkeeper </p>
      </div>
  </div>
</div>